body {
      font-size: 0.9rem;
}

#sidebar-photo {
      padding-top: 5rem;
      padding-bottom: 1rem;
}
  
#sidebar-photo img {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 160px;
      margin: 0 auto;
}

#sidebar-icons a {
      text-decoration: none;
      opacity: 0.8;
}

#sidebar-icons a:hover {
      opacity: 1.0;
}

.note-cover {
      width: 50%;
      padding: 1rem 0 1rem 0;
}

.bio {
      width: 50%;
      padding-bottom: 0.25rem;
}

.md-indent {
      list-style-type: none;
}

.capitalize::first-letter {
      text-transform: uppercase;
}

